<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Viabilidad</title>
    <link rel="stylesheet" th:href="@{/css/crudedit.css}">
</head>
<body>
<div class="lines-bg">
  <div class="line line1"></div>
  <div class="line line2"></div>
  <div class="line line3"></div>
  <div class="line line4"></div>
</div>

    <h1>Editar archivo de viabilidad</h1>

    <form method="post" enctype="multipart/form-data" th:action="@{'/viabilidadcrud/actualizar/' + ${viabilidad.id}}">
        <label>Nuevo archivo PDF:</label>
        <input type="file" name="archivo" accept="application/pdf" required />
        <button type="submit">Actualizar</button>
    </form>

    <a th:href="@{/viabilidadcrud}">Volver</a>
</body>
</html>