<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>
<body>
<h1>Crear Nuevo Usuario</h1>
<form th:action="@{/usuarioscrud/guardar}" th:object="${usuario}" method="post">
    <label>Nombre: <input type="text" th:field="*{nombre}" /></label><br>
    <label>Correo: <input type="email" th:field="*{correo}" /></label><br>
    <label>Contraseña: <input type="password" th:field="*{password}" /></label><br>
    <label>Teléfono: <input type="text" th:field="*{telefono}" /></label><br>
    <label>Dirección: <input type="text" th:field="*{direccion}" /></label><br>
    <label>Ciudad: <input type="text" th:field="*{ciudad}" /></label><br>
    <label>Capacidad: <input type="number" th:field="*{capacidad}" /></label><br>
    <label>Horarios: <input type="text" th:field="*{horarios}" /></label><br>
    <label>Responsable: <input type="text" th:field="*{responsable}" /></label><br>
    <label>Servicios: <input type="text" th:field="*{servicios}" /></label><br>
    <label>Disponible: <input type="checkbox" th:field="*{disponible}" /></label><br>
    <button type="submit">Guardar</button>
</form>
<a th:href="@{/usuarioscrud}">🔙 Volver</a>
</body>
</html>