<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Crear Seguimiento</title>
    <link rel="stylesheet" th:href="@{/css/crudcreate.css}">
</head>

<body>
    <div class="waves-bg">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
    </div>
    <h1>Subir nuevo seguimiento</h1>
    <form method="post" enctype="multipart/form-data" th:action="@{/seguimientocrud/guardar}">
        <label>Archivo PDF:</label>
        <input type="file" name="archivo" accept="application/pdf" required />
        <button type="submit">Guardar</button>
    </form>
    <a th:href="@{/seguimientocrud}">Volver</a>
</body>

</html>