<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Seguimiento</title>
</head>
<body>
    <h1>Editar archivo</h1>
    <form method="post" enctype="multipart/form-data" th:action="@{'/seguimientocrud/actualizar/' + ${seguimiento.id}}">
        <label>Nuevo archivo PDF:</label>
        <input type="file" name="archivo" accept="application/pdf" required />
        <button type="submit">Actualizar</button>
    </form>
    <a th:href="@{/seguimientocrud}">Volver</a>
</body>
</html>